<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>CampusRyde</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0d2eTc91EqtDkt3Y50+J9rW3tCXJWw6/lDgf1QNHLlV0fadTyvcA120WPsSOlwga" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
</head>

<body>
  <div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half (map)-->

    <div class="col-md-6 p-0 bg-indigo h-md-100">
      <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
        <div class="logoarea pt-5 pb-5">
          <h1 class="ml5">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters letters-left font-weight-bold">MAP</span>
              <span class="line line2"></span>
            </span>
          </h1>
        </div>
      </div>
    </div>

    <!-- Second Half -->

    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
      <div class="align-items-center h-md-100 p-5 justify-content-center">
        <div id="ridePrompt" class="my-auto" style="border: 1px solid black; padding: 20px; border-radius: 5px;">
          <h3 class="text-center">Where to?</h3>
          <br>
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label col-form-label-sm" for="address">Address</label>
              <input type="text" class="col-sm-9 form-control form-control-sm" placeholder="Ex: 123 Main Street, Baltimore, Maryland" id="address">
            </div>
          </form>
          <div class="text-center">
            <br>
            <button id="driverButton" type="button" class="btn btn-success" style="margin-right: 10px;">Driver</button>
            <a class="btn btn-info" href="/ride/board" role="button" style="margin-left: 10px;">Tagalong</a>
<!--             <button type="button" class="btn btn-info" style="margin-left: 10px;">Tagalong</button> -->
          </div>
        </div>

        <div id="driverPrompt" class="my-auto" style="border: 1px solid black; padding: 20px; border-radius: 5px;">
          <h3 class="text-center">More info about you...</h3>
          <br>
          <form>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label col-form-label-sm" for="plateNumber">License Plate Number</label>
              <input type="text" class="col-sm-6 form-control form-control-sm" id="plateNumber" placeholder="License Plate Number">
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label col-form-label-sm" for="driverLicense">Driver's Licence</label>
              <input type="text" class="col-sm-6 form-control form-control-sm" placeholder="Driver's License" id="driverLicense">
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label col-form-label-sm" for="departDate">Departure Date</label>
              <input type="date" class="col-sm-6 form-control form-control-sm" id="departDate">
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label col-form-label-sm" for="departTime">Departure Time</label>
              <input type="time" class="col-sm-6 form-control form-control-sm" id="departTime">
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label col-form-label-sm" for="numSeats">Available Seats</label>
              <input type="number" class="col-sm-6 form-control form-control-sm" id="numSeats" placeholder="1">
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label col-form-label-sm" for="other">Other Requirements</label>
              <textarea class="col-sm-6 form-control form-control-sm" id="other" rows="3" placeholder="Contribute money for gas..."></textarea>
            </div>
          </form>
          <div class="text-center">
            <button id="driverBack" type="button" class="btn btn-secondary" style="margin-right: 10px;">Back</button>
            <a class="btn btn-success" style="margin-left: 10px;" href="/ride/board" role="button">Submit</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
