/* styles */
/* called by your view template */

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background: url("https://cdn.glitch.com/a81a66dd-1b37-47b9-9b23-66df1f5552cb%2Faction-asphalt-automobile-automotive-593172%20(2).jpg?v=1580349408846");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Control the right side */
.right {
  right: 0;
}

.borderMe {
  border: 1px solid #EB6864;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%
/*   text-align: center; */
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.leftbackground {
  background: url("https://cdn.glitch.com/a81a66dd-1b37-47b9-9b23-66df1f5552cb%2Faction-asphalt-automobile-automotive-593172%20(2).jpg?v=1580349408846");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.ml5 {
position: relative;
font-weight: 400;
font-size: 4.5em;
color: white;
}

.ml5 .text-wrapper {
position: relative;
display: inline-block;
padding-top: 0.1em;
padding-right: 0.05em;
padding-bottom: 0.15em;
line-height: 1em;
}

.ml5 .line {
position: absolute;
left: 0;
top: 0;
bottom: 0;
margin: auto;
height: 3px;
width: 100%;
background-color: white;
transform-origin: 0.5 0;
}

.ml5 .ampersand {
font-family: Baskerville, "EB Garamond", serif;
font-style: italic;
font-weight: 500;
width: 1em;
margin-right: -0.1em;
margin-left: -0.1em;
}

.ml5 .letters {
display: inline-block;
opacity: 0;
}
